// Mobile Menu

.slicknav_menu {
  display : none;
}
@media screen and (max-width : 800px) {
  .slicknav_menu {
    display : block;
  }
  .topMenu {
    display : none;
  }
}
@media screen and (max-width : 640px) {
  .abs-post {
    position : relative;
    width    : 100%;
    z-index  : 2;
  }
  #bar-top {
    position   : relative;
    z-index    : 4;
    background : #119ac1;
  }

  .Mod1 {
    .price {
      padding : 0 20px 10px;
      .p1 {
        color          : #e61a60;
        display        : block;
        font-size      : 32px;
        font-weight    : 700;
        letter-spacing : -2px;
        line-height    : 26px;
      }
    }
    .area-btn {
      padding : 0 20px 20px;
    }
  }
  .Mod2 {
    .listOption {
      .item {
        .info {
          padding : 20px 20px 10px;
        }
        .price {
          padding    : 0 20px 20px;
          text-align : left;
          .btn-success {
            letter-spacing : 0;
            width          : 100%;
          }
        }
      }
    }
  }

  .td-cell {
    display        : block;
    float          : left;
    padding        : 5px 0;
    vertical-align : middle;
  }
  .shop-table {
    .td-body {
      figure {
        padding : 6px 10px;
      }
    }
  }

}
